@font-face {
font-family: "Rio-grande";
src: url("https://github.com/rurockygamer/Rurockygamer.github.io/tree/master/libraries/Fonts/RioGrande.ttf");

}

.title1{
        	font-family: "Rio-grande";
        	
        }